html {
  height: 1054px;
  overflow: hidden;
}

.App {
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}

.fa {
  float:left;
}

.btn {
  cursor: pointer;
  text-shadow: 0 1px 3px rgba(36,180,126,.4);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;
  text-transform: uppercase;
}

.btn:hover, .btn:active, .btn:focus {
  outline: none !important;
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08)
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  transform: translateY(1px)
}

.App-header {
  background: linear-gradient(150deg,#3b9e8f 15%,#05d5ff 70%,#a6ffcb 94%);
  height: 90px;
  padding: 30px 20px 20px 0;
  color: white;
}

.App-container {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.modal {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  z-index: 70;
  background: white;
  width: 300px;
  height: 200px;
  margin: -100px 0 0 -150px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  border-radius: 5px;
}

.site-name {
  float: left;
  color: white;
  margin-right: 20px;
  padding-left: 10px;
}

.graphs {
  position: relative;
  height: 30%;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.bar-graph-hide, .pie-graph-hide {
  position: absolute;
  transition: height 300ms 300ms, opacity 300ms 0ms;
  opacity: 0.0;
  height: 0px;
}

.bar-graph-show, .pie-graph-show {
  position: absolute;
  opacity: 1.0;
  transition: height 100ms 0ms, opacity 100ms 100ms;
  height: 100%;
}

.row-entry {
  position: relative;
  /*border: 3px solid #6772e5;*/
  margin: 10px;
  padding: 20px;
  border-radius: .5rem;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.info-row {
  height: 500px;
  overflow: scroll;
  position: relative;
  left: -70px;
}
