.App {
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}

.fa {
  float:left;
}

.btn {
  cursor: pointer;
  text-shadow: 0 1px 3px rgba(36,180,126,.4);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;
  text-transform: uppercase;
}

.btn:focus,.btn:active {
  outline: none !important;
}

.btn:hover, .btn:active {
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08)
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  transform: translateY(1px)
}

.App-header {
  background: linear-gradient(150deg,#4abdac 15%,#05d5ff 70%,#a6ffcb 94%);
  height: 90px;
  padding: 30px 20px 20px 0;
  color: white;
}

.App-container {
  padding-top: 20px;
}

.modal {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  z-index: 15;
  background: white;
  width: 300px;
  height: 200px;
  margin: -100px 0 0 -150px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  border-radius: 5px;
}

.site-name {
  float: left;
  color: white;
  margin-right: 20px;
  padding-left: 10px;
}
