.input-categories {
  width: 400px;
  padding-right: 50px;
  border: 3px solid #6772e5;
  border-radius: .25rem .25rem 0 0;
}

.button-add {
  margin-left: -60px;
  height: 27px;
  width: 60px;
  background: #fc4a1a;
  color: white;
  border: 0;
  border-radius: 0.5rem 2;
  text-align: center;
  padding-top: 2px;
  border-right: 4px solid #6772e5;
  border-bottom: 1px solid #6772e5;
}

.btn-non-click {
  height: 27px;
  text-align: center;
  padding: 2px;
  color: white;
}

.btn-delete {
  height: 27px;
  text-align: center;
  padding: 2px;
  color: white;
  background-color: #fc4a1a;
}

.btn-delete:active, .btn-delete:hover {
  background-color: #bf2900;
}

.btn-merge {
  height: 27px;
  text-align: center;
  padding: 2px;
  color: white;
  background-color: #4abdac;
}

.btn-merge:active, .btn-merge:hover {
  background-color: #019d87;
}

.one-cat {
  background: #dfdce3;
  padding: 1px;
  height: 30px;
  border-left: 3px solid #6772e5;
  border-right: 3px solid #6772e5;
  color: #fc4a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.one-cat-label {
  margin-left: 1rem;
}

.cat-icons {
  margin-right: 1rem;
}

.check-wrapper {
  color: #4abdac;
  margin-left: 1rem;
}
.check-wrapper > a.none-selected {
  color: white;
  margin-left: 1rem;
}
.check-wrapper > a.check-selected {
  color: #4abdac;
  margin-left: 1rem;
}

.x-wrapper {
  color: #fc4a1a;
}
.x-wrapper > a.x-selected {
  color: #fc4a1a;
  margin-left: 1rem;
}
.x-wrapper > a.none-selected {
  color: white;
  margin-left: 1rem;
}

.utils {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: #6772e5;
  border: 3px solid #6772e5;
  border-radius: 0 0 .25rem .25rem;
}

.categories-actions-hide {
  transition: height 200ms 200ms, opacity 200ms 0ms;
  opacity: 0.0;
  height: 0px;
}

.categories-actions-show {
  opacity: 1.0;
  transition: height 100ms 0ms, opacity 100ms 100ms;
  height: 100%;
}
