.input-categories {
  width: 400px;
  padding-right: 50px;
  border: 3px solid #f7b733;
  border-radius: .25rem;
}

.button-add {
  margin-left: -60px;
  height: 27px;
  width: 60px;
  background: #fc4a1a;
  color: white;
  border: 0;
  border-radius: 0.5rem 2;
  text-align: center;
  padding-top: 2px;
  border-right: 4px solid #f7b733;
  border-bottom: 1px solid #f7b733;
  cursor: pointer;
}

.btn-non-click {
  height: 27px;
  text-align: center;
  padding: 2px;
  color: white;
}

.btn-delete {
  height: 27px;
  text-align: center;
  padding: 2px;
  color: white;
  background-color: #fc4a1a;
  cursor: pointer;
}

.btn-delete:active, .btn-delete:hover {
  background-color: #bf2900;
}

.btn-merge {
  height: 27px;
  text-align: center;
  padding: 2px;
  color: white;
  background-color: #4abdac;
  cursor: pointer;
}

.btn-merge:active, .btn-merge:hover {
  background-color: #188374;
}

.one-cat {
  background: #dfdce3;
  height: 30px;
  border-radius: .25rem;
  border: 1px solid #dfdce3;
  color: #fc4a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one-cat-label {
  margin-left: 1rem;
}

.cat-icons {
  margin-right: 1rem;
}

.check-wrapper {
  color: #4abdac;
  margin-left: 1rem;
}
.check-wrapper > a.none-selected {
  color: white;
  margin-left: 1rem;
}
.check-wrapper > a.check-selected {
  color: #4abdac;
  margin-left: 1rem;
}

.x-wrapper {
  color: #fc4a1a;
}
.x-wrapper > a.x-selected {
  color: #fc4a1a;
  margin-left: 1rem;
}
.x-wrapper > a.none-selected {
  color: white;
  margin-left: 1rem;
}

.utils {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: #f7b733;
  border: 3px solid #f7b733;
  border-radius: .25rem;
}
