.input-categories {
  width: 400px;
  padding-right: 50px;
  border: 3px solid #f7b733;
  border-radius: .25rem;
}

.button-add {
  margin-left: -60px;
  height: 27px;
  width: 60px;
  background: #fc4a1a;
  color: white;
  border: 0;
  border-radius: 0.5rem 2;
  text-align: center;
  padding-top: 2px;
  border-right: 4px solid #f7b733;
  border-bottom: 1px solid #f7b733;
}

.one-cat {
  background: #dfdce3;
  border-radius: .25rem;
  border: 1px solid #f7b733;
  color: #fc4a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one-cat-label {
  margin-left: 1rem;
}

.x-selected {
  color: #fc4a1a;
  margin-left: 1rem;
}

.check-selected {
  color: #4abdac;
  margin-left: 1rem;
}

.none-selected {
  color: white;
  margin-left: 1rem;
}

.cat-icons {
  margin-right: 1rem;
}
