.file-container {
  overflow: hidden;
  position: relative;
}

.file-container [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.header-button {
  background-color: #6772e5;
  color: white;
  width: 200px;
  align-self: flex-start;
}

.header-button:active {
  background-color: #555abf;
}

.header-button:hover {
  cursor: pointer;
  background-color: #7795f8;
}

.header {
  display: flex;
  justify-content: space-around;
}

.categories {
  width: 400px;
}

.categories-icon {
  float: left;
  width: 10px;
}

.fa {
  float:left;
}
