.modal-label {
  padding: 10px 10px 10px;
}

.modal-btn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 0px 10px 10px;
}

.del-btn {
  color: white;
  background-color: #fc4a1a;
}

.del-btn:active, .del-btn:hover {
  background-color: #bf2900;
}

.cancel-btn:active, .cancel-btn:hover {
  background-color: #a29f9f;
}

.edit-input {
  width: 280px;
  padding-right: 50px;
  border: 3px solid #f7b733;
  border-radius: .25rem;
}
